<%- include('./partials/header.ejs') %>
<div id="aboutImg">
    <div class="gen-div">
    <h1>About Hallyu Wave Club</h1>
    <p>Hallyu Wave Club is an event forum where Korean entertainment enthusiasts can set up meetings and events. You
        can either set up a K-POP fandom event or a language study event.
    </p>
    </div>
</div>
<%- include('./partials/footer.ejs') %>