<%- include('./partials/header.ejs') %>
<div id="contactImg">
    <div class="gen-div">
        <h1>Contact Hallyu Wave Club Admin</h1>
        <p>For any questions, concerns, or feedback, email: jle17@uncc.edu or v1_77a1n@icloud.com.</p>
    </div>
</div>
<%- include('./partials/footer.ejs') %>